@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--index-i: calc(1vw + 1vh);
	--background-full: #1c1e26;
	--border-r: #2c2e3b;
	--color-i: #5a74ff;
	--color-in: #b8bccf;
	--color-back: #27282c;
	--background-b: #17181c;
}

body {
	padding: 0;
	margin: 0;
	/* color: #fff; */
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}


/*content*/
.content {
	width: 100%;
	height: 100%;
	padding-left: 80px;
}
.content_style {
	background-color: var(--background-full);
}
/*content end*/

.left__main {
	position: absolute;
	left: 0;
	top: 0;

	width: 80px;
	height: 100vh;
	min-height: 100%;
}
.left__main_style {
	border-right: 1px solid var(--border-r);
	overflow: hidden;
	background-color: var(--background-full);
}

.left__main_logo {
	height: 12%;
	max-height: 97px;
	text-align: center;
	padding-top: 38px;
	margin: 0 16px;
	border-bottom: 1px solid var(--border-r);

}
.left__main_logo i{
	height: 57px;
	font-size: 33px;
	color: var(--color-i);
}

/*main_navLinks*/
.main_navLinks {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	height: 67.5%;

	margin-top: 28px;
}

.main_navLink {
	height: 62px;
	text-align: center;
	text-decoration: none;
	color: var(--color-in);
	margin-bottom: 24px;
}
.main_navLink.active{
	color: var(--color-i);
}
.main_navLin_a {
	width: 56px;
	padding: 9px 0;
	border-radius: 8px;
	margin: 0 auto;
	transition: all .4s ease-in-out;
}
.main_navLin_a:hover{
	background: var(--color-back);
}
.main_navLink.active .main_navLin_a{
	background: var(--background-b);
}

.main_navLin_a i{
	font-size: 20px;
}
.main_navLin_span {
	text-decoration: none;
	font-size: 12px;
	margin-top: 1px;
	padding-top: 2px;
}

.left__main_bottom {
	text-align: center;
	text-decoration: none;
	color: var(--color-in);
	margin: 28px 0 44px 0;
}

.size_i i{
	width: 1.5rem;
	height: 1.5rem;
}
.color_w_i {
	color: var(--color-in);
}
.left_line {
	margin: 26px 0;
	padding: 0 16px;
}
.left_line .left_line_s{
	display: block;
	height: 1px;
	width: 100%;
	background-color: var(--border-r);
}

.left_line_b {

}
.left_line_b.color i{
	font-size: 1.5rem;
	color: var(--color-i);
}

.cr {
	cursor: pointer;
}