*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--index-i: calc(1vw + 1vh);
	--background-full: #1c1e26;
	--border-r: #2c2e3b;
	--color-i: #5a74ff;
	--color-in: #b8bccf;
	--color-back: #27282c;
	--background-b: #17181c;
}

body {
	padding: 0;
	margin: 0;
	/* color: #fff; */
	font-size: 16px;
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}


/*content*/
.content {
	width: 100%;
	height: 100%;
	padding-left: 80px;
}
.content_style {
	background-color: var(--background-full);
}
/*content end*/

.left__main {
	position: absolute;
	left: 0;
	top: 0;

	width: 80px;
	height: 100vh;
	min-height: 100%;
}
.left__main_style {
	border-right: 1px solid var(--border-r);
	overflow: hidden;
	background-color: var(--background-full);
}

.left__main_logo {
	height: 12%;
	text-align: center;
	padding-top: 38px;
	margin: 0 16px;
	border-bottom: 1px solid var(--border-r);

}
.left__main_logo i{
	height: 57px;
	font-size: 35px;
	color: var(--color-i);
}

/*main_navLinks*/
.main_navLinks {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	height: 63%;

	margin-top: 28px;
}

.main_navLink {
	height: 62px;
	text-align: center;
	text-decoration: none;
	color: var(--color-in);
	margin-bottom: 24px;
}
.main_navLink.active{
	color: var(--color-i);
}
.main_navLin_a {
	max-width: 59px;
	padding: 9px 16px;
	border-radius: 8px;
	transition: all .4s ease-in-out;
}
.main_navLin_a:hover{
	background: var(--color-back);
}
.main_navLink.active .main_navLin_a{
	background: var(--background-b);
}

.main_navLin_a i{
	font-size: 21px;
}
.main_navLin_span {
	text-decoration: none;
	font-size: 12px;
	margin-top: 1px;
	padding-top: 2px;
}